<strong>Olá {{ deliveryman }}</strong>
<p>Houve um cancelamento de entrega !</p>

<p>
   <p><strong>Produto: {{ product }}</strong></p>
   <p><strong>Encomenda: {{ delivery_id }}</strong> Nome:{{ name }} </p>
   <p><strong>Data: {{ canceled_at }}</strong></p>
</p>
