<strong>Olá {{ deliveryman }}</strong>
<p>Há uma nova encomenda aguardando sua confirmação</p>

<p>
   <p> <strong>Produto: {{ product }}</strong></p>
    <strong>Endereco: {{ street }} , Nº {{ number }} ,Estado: {{ state }} ,Cidade: {{ city }}</strong>
</p>
